<!-- 
<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.webServer>
    <rewrite>
        <rules>
        <rule name="Angular Routes" stopProcessing="true">
            <match url="help(.*)" ignoreCase="true" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="**" />
        </rule>
        </rules>
    </rewrite>
    </system.webServer>

</configuration> -->



<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.webServer>
        <customErrors mode="on"></customErrors>
    <rewrite>
        <rules>
        <rule name="Angular Routes" stopProcessing="true">
            <!--<match url=".*" ignoreCase="true" />-->
             <match url="(app/.*|assets/.*|config/.*)" />
            <!--<match url="help(.*)" ignoreCase="true" />-->
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <!--<action type="Rewrite" url="/*" ignoreCase="true" />-->
             <action type="None" />
        </rule>
        </rules>
    </rewrite>
    </system.webServer>

</configuration>